<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/homepage.css">
</head>
<body>
    <div class="navbar">
        <a href="@Url.Action("Register", "Account")">Register</a>
        <a href="@Url.Action("Login", "Account")">Login</a>
    </div>

    <h1>CINEMA</h1>

</body>
</html>